<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IwalaChat.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE47A9261E76750C0001E0B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE47A93F1E76750C0001E0B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE47A94A1E76750C0001E0B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
